.product-category {
    text-align: center;
}
.product-item {
    display: inline-block;
    width: 200px;
}
.out-of-stock {
    color: red;
}
.product-price {
    display: inline-block;
    width: 100px;
}